{% extends 'layout.html' %}
{% block link %}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
{% endblock %}
{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Checkout</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form_formate">
                  <form method="POST" class="jumbotron" enctype="multipart/form-data" action="{% url 'buy' cart_item.cart_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="name">Full Name:</label>
                      <input type="text" name="name" id="name" class="form-control" placeholder="Enter Full Name" required />
                    </div>
                    <div class="form-group">
                      <label for="city">City:</label>
                      <input type="text" name="city" id="city" class="form-control" placeholder="Enter City" required />
                    </div>
                    <div class="form-group">
                      <label for="state">State:</label>
                      <input type="text" name="state" id="state" class="form-control" placeholder="Enter State" required />
                    </div>
                    <div class="form-group">
                      <label for="zip_code">Zip Code:</label>
                      <input type="number" name="zip_code" id="zip_code" class="form-control" placeholder="Enter Zip Code" min="100000" max="999999" required />
                    </div>
                    <div class="form-group">
                      <label for="contact">Contact:</label>
                      <input type="number" name="contact" id="contact" class="form-control" placeholder="Enter Contact Number" min="1000000000" max="9999999999" required />
                    </div>
                    <div class="form-group">
                      <label for="address">Address:</label>
                      <textarea name="address" id="address" class="form-control" rows="4" placeholder="Enter Address" required></textarea>
                    </div>
                    <div class="form-group">
                      <label for="Payment">Payment : Only COD available</label>
                    </div>
                    <div class="form-group">
                      {% comment %} <input type="submit" value="Place Order" class="btn btn-success" /> {% endcomment %}
                      <button class="btn btn-success button">Place Order</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var contactInput = document.getElementById('contact')
      var zipCodeInput = document.getElementById('zip_code')
    
      contactInput.addEventListener('input', function () {
        var value = contactInput.value
        if (value.length > 10) {
          contactInput.value = value.slice(0, 10)
        }
      })
    
      zipCodeInput.addEventListener('input', function () {
        var value = zipCodeInput.value
        if (value.length > 6) {
          zipCodeInput.value = value.slice(0, 6)
        }
      })
    })
  </script>
{% endblock %}
