<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>Change Password</title>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/loginform.css' %}" />
</head>
<body>

  <form method="POST" class="form-group">
    {% csrf_token %}
    <h3>Change Password</h3>

    <label for="{{ form.old_password.id_for_label }}">Old Password</label>
    <div class="password-container">
      {{ form.old_password }}
      <i class="far fa-eye password-toggle" onclick="togglePassword('id_old_password')"></i>
    </div>
    {% if form.old_password.errors %}
      <div class="error">{{ form.old_password.errors }}</div>
    {% endif %}

    <label for="{{ form.new_password.id_for_label }}">New Password</label>
    <div class="password-container">
      {{ form.new_password }}
      <i class="far fa-eye password-toggle" onclick="togglePassword('id_new_password')"></i>
    </div>
    {% if form.new_password.errors %}
      <div class="error">{{ form.new_password.errors }}</div>
    {% endif %}

    <label for="{{ form.confirm_password.id_for_label }}">Confirm New Password</label>
    <div class="password-container">
      {{ form.confirm_password }}
      <i class="far fa-eye password-toggle" onclick="togglePassword('id_confirm_password')"></i>
    </div>
    {% if form.confirm_password.errors %}
      <div class="error">{{ form.confirm_password.errors }}</div>
    {% endif %}

    <button type="submit">Change Password</button>
  </form>

  <script>
    function togglePassword(fieldId) {
      const passwordField = document.getElementById(fieldId);
      const passwordToggle = passwordField.nextElementSibling;
      if (passwordField.type === "password") {
        passwordField.type = "text";
        passwordToggle.classList.replace("fa-eye", "fa-eye-slash");
      } else {
        passwordField.type = "password";
        passwordToggle.classList.replace("fa-eye-slash", "fa-eye");
      }
    }
  </script>
</body>
</html>
