<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>Forgot Password</title>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/loginform.css' %}" />
</head>
<body>

  <form method="POST" class="form-group">
    {% csrf_token %}
    <h3>Forgot Password</h3>

    <label>Email</label>
    <input type="email" name="email" required class="input" placeholder="Enter Email">
    {% if form.email.errors %}
      <div class="error">{{ form.email.errors }}</div>
    {% endif %}

    <button type="submit">Send OTP</button>
  </form>

</body>
</html>
